.library-grid {
  --row-gap: 50px;
  --col-gap: 30px;
  --num-cols: 4;

  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-gap: var(--row-gap) var(--col-gap);

  width: min-content;

  padding: 3em 0;
}
