.library-grid {
  --row-gap: 50px;
  --col-gap: 30px;
  --num-cols: 4;
  --item-max-width: 200px;

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-gap: var(--row-gap) var(--col-gap);
  

  width: 100%;
  justify-content: end;
  padding: 30px 0; 
  
}

.control-bar {
  width: 100%;
  padding: 25px 0
}

.item {
  background-color: #f8f6f6 !important;
  transition: transform, 0.2s ease-in-out;
  transition: background-color 0.3 ease-in;
  cursor: pointer;

  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 240px;
  width: 100%;

}

.item:hover {
  background-color: white !important;
  transform: scale(1.05);

}

.thumbnail-box {
  width: 200px !important;
  height: 270px !important;
  overflow: hidden;
}

.thumbnail {
  border: 1px solid #dee2e6;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: fill !important;
  object-position: top;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
